doctype html
html
  head
    meta(charset='UTF-8')
    title slowbirds.org
    meta(name='description', content='all about slowbirds')
    link(href="/vendors/normalize.css/normalize.css",rel="stylesheet",type="text/css")
    link(href="/styles/application.min.css",rel="stylesheet",type="text/css")
  body
    div#container
      h1 slowbirds.org
      div.content
        div#latest
        h2 other works
        ul
          li
            a(href="http://notes.slowbirds.org") notes
          li
            a(href="http://notes.slowbirds.org/portfolio") portfolio
          li
            a(href="http://www.mixcloud.com/slowbirds") mixcloud
          li
            a(href="http://www.soundcloud.com/slowbirds") soundcloud
          li
            a(href="http://www.vimeo.com/slowbirds") vimeo
      div.contact
        h2 contact
        ul
          li
            a(href="http://www.facebook.com/slowbirds") facebook
          li
            a(href="http://www.twitter.com/slowbirds") twitter

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/scripts/application.min.js",charset='UTF-8')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3854925-1', 'auto');
      ga('send', 'pageview');
