$color: rgba(255,255,255,0.9);
html {
  background: url(/resources/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: $color;
  font-size: 16pt;
  font-family: Helvetica Neue, Helvetica, Futura, sans-serif;
}
h1 {
  background: url(/resources/logo.png) no-repeat center center;
  height: 220px;
  font-size: 0;
  transform: rotate(-10deg);
  margin: 0 auto;
}
h2 {
  display: none;
}
#container {
  margin: 0 auto;
}
#latest {
  margin: 10px auto;
  width: 640px;
}
ul {
  text-align: center;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0;
}
li a {
  color: $color;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 8px;

  &:hover {
    color: rgba(255,255,255,0.6)
  }
}
iframe {
  margin: 10px auto;
}
